.inner-content-slider  {
    background: #190053;
    padding: 25px;
    border-radius: 20px;
    margin: 25px 0px;
    border: 1px solid #be00fb !important;
}
/* .inner-tile1{
    margin: 25px 0px;
} */
.p_00{
   padding-left: 0;
}
.inner-content2 {
	border-right: 2px solid #be00fb;
}


.size {
	font-size: 12px;
}


.customslider{
    height: 190px;
}
.inner-content-slider .inner-tile1 li:nth-child(1),
.inner-content-slider .inner-tile1 li:nth-child(2),
.inner-content-slider .inner-tile1 li:nth-child(3) {
	border: none;
	padding: 0px;
}

.carousel-indicators li {
    background-color: #be00fb;
  }
  .carousel-inner .active{
      border: none;
  }

  .inner-tile-11{
    background: #c4c6e7;
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px 0px;
    border: 1px solid #c4c6e7 !important;
  }

  .btn-commonclaim {
    background-image:linear-gradient(#3AB3B0 , #6E639D) !important;
    color: #fff !important;
    padding: 8px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    /* width: 100%; */
    /* border: 1px solid #be00fb !important; */
    cursor: pointer !important;
    outline: none !important;
 }